#moviesForCategory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    gap: 20px;
    justify-content: center;
}

ul.outline-none {
    gap: 0;
}

@media (max-width: 1024px) {
    #moviesForCategory {
        grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    }
}

@media (max-width: 425px) {
    #moviesForCategory {
        grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
    }
}

/* Header */

#portada {
    height: 350px;
}

#img {
    top: 0;
    background: linear-gradient(180deg, transparent 40%, #000 100%), 
    linear-gradient(0deg, transparent 40%, #000 102%), 
    url('./assets/img/colectivo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

#peliculas {
    z-index: 100;
}

#content-pelis {
    z-index: 100;
}

section.container {
    z-index: 100;
}

/* Carrousel */

.swiper-button-prev::after {
    font-weight: bold;
    color: #fff;
}

.swiper-button-next::after {
    font-weight: bold;
    color: #fff;
}


@media (max-width: 769px) {
    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next::after {
        display: none;
    }
}



/* Reproductor */

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 1em;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 2em 0;
}


/* Search */

.movies{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    gap: 20px;
    justify-content: center;
    padding-top: 1rem;
}

@media (max-width: 1024px) {
    .movies {
        grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    }
}


@media (max-width: 425px) {
    .movies {
        grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
    }
}

.search-input{
    width: 100%;
    outline: none;
}

.search-input-wrapper {
    border-bottom: .125rem solid #ffffff;
    display: flex;
    margin: 0 auto;
    max-width: 55rem;
    transition: border-color .2s cubic-bezier(.5, 0, .25, 1)
}

.page-wrapper--5HUY2 {
    padding-bottom: 3.75rem;
}

.body-wrapper {
    flex: 1 1 0;
}

.content-wrapper--MF5LS {
    --content-wrapper-padding-inline: 2.5rem;
}

.erc-search-field {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.erc-search-page .search-field-wrapper {
    background-color: #141519;
    position: sticky;
    top: 3.75rem;
    z-index: 10;
}